<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous"
  />
    
    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/app.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
     integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
     crossorigin=""/>
     <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
 integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
 crossorigin=""></script>
 <link rel="stylesheet" href="/styles/main.css" />
<link rel="stylesheet" href="/styles/layout.css" />
  </head>
  <body id="index-body">
    <%- include('partials/_header') %>

    <div id="main">

  <div id="parent">

    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://www.shareicon.net/data/512x512/2017/02/15/878685_user_512x512.png" alt="Card image cap">
      <div class="card-body">
        <h2 class="card-title"></h2>
        <table> # of Maps
          <li></li>
        </table>
        <table>Maps Contributed to
          <li></li>
        </table>
      </div>
    </div>

    <div class="card" id="avail-maps" style="width: 18rem;">
      <img class="card-img-top" src="https://www.kingsville.ca/en/our-community/resources/Maps/Maps.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Available Maps</h5>
        <p class="card-text">List of available maps that you can view!</p>
        <table>
          <li></li>
          <li></li>
          <li></li>
        </table>
      </div>
    </div>


    <div class="card" id="favorite-maps" style="width: 18rem;">
      <img class="card-img-top" src="https://cdn.nerdschalk.com/wp-content/uploads/2022/03/favorite-logo-4.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Favourited Maps</h5>
        <p class="card-text">List of all the maps you have favourited!</p>
        <table>
          <li></li>
          <li></li>
          <li></li>
        </table>
      </div>
    </div>

</div>
</div>
  </body>
</html>
