
#login-box{
  margin: auto;
  margin-top: 4em;
  border: 1px solid black;
  width: 40%;
  padding: 2em;
}

#map {
  border: 1px solid black;
  height: 600px;
  width: 1000px;
}

#parent {
  display: flex;
  flex-wrap: wrap;
 justify-content: space-around;
  margin-top: 4em;
}

.card {
border: 2px solid black;
box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
margin: 1em;
height: 600px;
width: auto;

}

.map-link{
  margin: 5px;
  border:1px solid black;
  border-radius: 10px;
  height: 150px;
  width: 700px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px;
}

.map-img {
  height: 150px;
  border: 1px solid black;
  border-radius: 10px;
}

.map-name{
  font-size:x-large;
  margin-left: 25px;
}



